.heading-1 {
    font-size: 2rem;
    font-weight: 700;
}

.heading-2 {
    font-size: $default-font-size;
    font-weight: 700;
}

.heading-3 {
    font-size: $default-font-size;
    font-weight: 500;
    color: $color-dark-cyan;
}