//COLORS
$color-primary: hsl(180, 29%, 50%);
$color-bg: hsl(180, 52%, 96%);
$color-filter: hsl(180, 31%, 95%);
$color-dark-cyan: hsl(180, 8%, 52%);
$color-very-dark-cyan: hsl(180, 14%, 20%);

$default-font-size: 1.5rem;
$default-font-family: 'League Spartan', sans-serif;

//BREAKPOINTS
$bp-largest: 75em;  //1200px
$bp-large: 56.25em;  //900px
$bp-medium: 36.375em;  //582px