@import '../../styles/variables';

.header {
    background-image: url('../../assets/images/bg-header-desktop.svg');
    background-size: cover;
    background-color: $color-primary;
    height: 16rem;
    position: relative;
}